img {
    width: 320px;
    height: 320px;
    margin-bottom: 0.8rem;    
}

.row {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.item {
    margin: 2rem;
    p {
        text-align: center;

    }
}