$ancho: 640px;

@mixin items ($fondo){
    background-color: $fondo;
}

.item1 {
    @include items (red);
}

.item2 {
    @include items (blue);
}

.item3 {
    @include items (yellow);
}

.item4 {
    @include items (black);
}

.item5 {
    @include items (brown);
}

img {
    width: $ancho/2;
    height: $ancho/2;
    margin-bottom: 0.8rem;    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.item {
    margin: 2rem;
    p {
        text-align: center;

    }
}