.img-nosotros {
    width: 90%;
    height: auto;
}

.nosotros-uno {
    display: grid;
    grid-template-areas: 
    "imagen-uno titulo-uno"
    "imagen-uno texto-uno"
    "imagen-uno texto-uno";

}

.nosotros-uno-imagen {
    grid-area: imagen-uno;
}

.nosotros-uno-titulo {
    grid-area: titulo-uno;
}

.nosotros-uno-texto {
    grid-area: texto-uno;
    text-align: center;
}

// .nosotros-dos {
//     display: grid;
//     grid-template-areas: 
//     "titulo1-dos imagen-dos"
//     "texto1-dos imagen-dos"
//     "titulo2-dos imagen-dos"
//     "texto2-dos imagen-dos";
// }

// .nosotros-dos-titulo1 {
//     grid-area: titulo1-dos;
// }

// .nosotros-dos-texto1 {
//     grid-area: texto1-dos;
//     text-align: center;
// }

// .nosotros-dos-titulo2 {
//     grid-area: titulo2-dos;
// }

// .nosotros-dos-texto2 {
//     grid-area: texto2-dos;
//     text-align: center;
// }

// .nosotros-dos-imagen {
//     grid-area: imagen-dos;
// }
