.navBar {
    height: 6.4rem;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navBar-elements {
    padding: 0 3.2em;
    margin: 0 10rem;
}

.logo {
    height: 50px;
    padding: 0.8em 0;
    margin-top: 0.8rem;
    width: auto;
    float: left;
}

.mainNav {
    float: right;
    list-style: none;
    font-family: 'Montserrat', serif;
    font-size: 1.6em;
    padding: 0.5em 0;
    margin: 1.6rem 0;
        li {
            display: inline-block;
            margin-left: 3.2rem;
            color: $black;
                a:link, :visited {
                    color: #212429;
                    text-decoration: none;
                    padding-bottom: 0.8em;
                }
                a:active {
                    color: dimgray;
                }
                a:hover {
                border-bottom: 2px solid $yellow;
                }
        }
    }
