@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }
    
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                margin-left: 3em;
                margin-bottom: 0;
                a {
                    opacity: 1;
                }
            }
        }
    }
}